<div class="statistic-component">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 leftSide">
                <img src="assets/team2-removebg-preview (1).png" alt="pic">
            </div>
            <div class="col-12 col-md-7 rightSide">
                <h1 class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in asperiores iure excepturi
                    aperiam a
                    voluptatibus odit perferendis laudantium quod, fugit eum quaerat debitis nobis, similique
                    consectetur
                    molestiae fuga ea! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur laborum
                    unde
                    quas, ullam in soluta aut inventore omnis illum laudantium cupiditate porro, non reiciendis aliquam
                    alias? Odit maxime provident totam.</p>
            </div>
        </div>
    </div>
</div>